@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, rgba(223,160,0,1) 0%, rgba(153,59,0,1) 100%);
  font-family:Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.cardsbg {
  background: radial-gradient(circle, rgb(26, 93, 236) 10%, rgb(19, 0, 81) 100%);
}

.cardsinnerbg {
  background: radial-gradient(circle, rgb(251, 255, 192) 30%, rgb(255, 208, 0) 100%);
}