@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background: linear-gradient(rgb(10, 53, 145) 10%, rgb(31, 2, 63) 100%);
}

body {
  color: var(--foreground);
  /* background-image: url('/memotest/public/gayicon.png'); /* Reemplaza con la ruta de tu imagen */
  /* background-repeat: repeat; /* Hace que la imagen se repita infinitamente */
  /* background-size: auto; /* Mantiene el tamaño original de la imagen */
  /* background-position: top left; */
  font-family: "Tiny5", serif;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* scrollbar */


.scroll::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: yellow;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background: yellow;
}


.cardsbg {
  background: radial-gradient(circle, rgb(26, 93, 236) 10%, rgb(19, 0, 81) 100%);
}

.cardsinnerbg {
  background: radial-gradient(circle, rgb(248, 255, 150) 10%, rgb(255, 208, 0) 100%);
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}
